<% content_for :title, "#{@tag.name} - " %>

<h1><%= @tag.name %></h1>

<% @tag.posts.each do |post| %>
  <p><%= link_to post.title, post %></p>
<% end %>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
