/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body {
  background-image: url('/img/bg.jpg');
}

.gft-menu {
  float:right;
  shape-outside: url('/img/gft_r.png');
  shape-image-threshold: 0.5;
  shape-margin: 20px;
  max-width: 734px;
  z-index: 1;
  position: relative;
}
@media (max-width: 732px) {
  .gft-menu {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 0);
  }
}

.gft-title {
  max-width: 718px;
  margin-left: auto;
}
.km-blue {
  width: 27.319498%;
  background: #7CD0E0;
}
.km-red {
  background: #E49E7A;
  width: 31.2977715%;
}
.km-yellow {
  background: #E9EA92;
  width: 41.307799%;
}
.gft-title .km-column {
  text-align:center;
  padding:8px 0;
  display:inline-block;
}
.gft-title .km-column a:hover {
  background: none;
  color: #fff;
}
.navbar-toggle {
  position:fixed;
  top:59px;
  right: 8px;
  z-index: 11;
}
.navbar-toggle button {
  background: #7CD0E0 !important;
}

.main-container {
  z-index:10;
  position: relative;
}
